{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "semi": true,
    "jsxSingleQuote": true,
    "singleAttributePerLine": true,
    "arrowParens": "always",
    "endOfLine": "lf"
}
